# -- URL extra para encontrar as versões do PyTorch com suporte a CUDA 12.1 --
--extra-index-url https://download.pytorch.org/whl/cu121

# -- Core do PyTorch --
torch==2.3.1+cu121
torchvision==0.18.1+cu121
torchaudio==2.3.1+cu121

# -- Ecossistema Hugging Face para Fine-Tuning --
# Biblioteca principal para modelos e tokenizers
transformers==4.41.2
# Ferramentas para fine-tuning, como o SFTTrainer
trl==0.9.4
# Para fine-tuning eficiente de parâmetros (LoRA)
peft==0.11.1
# Para otimização de hardware (CPU/GPU) e treinamento distribuído
accelerate==0.31.0
# Para manipulação de datasets
datasets==2.19.2

# -- Dependências para Otimização e Computação --
# Para quantização de 8 e 4 bits (QLoRA)
bitsandbytes==0.43.1
# Biblioteca fundamental para computação numérica
numpy==1.26.4

# -- Outras Bibliotecas --
# Para visualização de dados (opcional, mas comum)
matplotlib==3.9.0

# -- Biblioteca para limpeza de dados --
emoji==2.12.1